@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

  :root {
    --clr-primary: hsl(47, 100%, 51%);
    --clr-primary-light: hsl(46, 100%, 63%);
    --clr-primary-dark: hsl(45, 100%, 47%);
    --clr-secondary: hsl(227, 100%, 51%);
    --clr-secondary-light: hsl(233, 100%, 64%);
    --clr-secondary-dark: hsl(228, 100%, 48%);
    --clr-dark-gray: #23292e;
    --clr-yellow-cream: #f8f4d9;
    --clr-google: #4285F4;
    --clr-github: #171515;
    --clr-twitter: #00acee;
    --clr-facebook: #3b5998;
    --font-body: 'Open Sans', 'ui-sans-serif', 'sans-serif', 'system-ui';
    --font-title: 'Saira Condensed', 'ui-sans-serif', 'sans-serif', 'system-ui';
  }

  *::selection {
    background-color: var(--clr-primary-light);
    color: #121212;
  }

  body {
    @apply text-true-gray-500 font-my-body overflow-x-hidden;
    -webkit-tap-highlight-color: transparent;
  }
  
  h1, h2, h3, h4, h5, h6, label {
    @apply font-my-title tracking-my-tiny font-medium text-true-gray-800;
  }

  .btn-regular {
    @apply inline-block cursor-pointer text-center uppercase py-3 px-6 font-my-title font-medium tracking-wide leading-none text-black bg-my-primary duration-300 hover:bg-my-primary-light;
  }

  .btn-social-login {
    @apply w-full h-10 bg-blue-600 text-white flex flex-nowrap items-center text-center duration-300 hover:bg-my-primary-light hover:text-black;
  }

  .navbar {
    @apply h-16 md:h-20 py-1 bg-white shadow flex items-center absolute top-0 left-0 w-full z-30;
  }

  .dashboard-menu-link {
    @apply py-2 px-1 xl:px-3 w-full flex flex-nowrap items-center font-my-title uppercase font-medium text-true-gray-800 hover:bg-my-primary;
  }

  .contact-form-input {
    @apply w-full h-12 px-4 rounded bg-white text-black text-sm border-b border-l focus:border-my-primary focus:outline-none;
  }

  .footer-text {
    @apply text-gray-300 text-my-sm leading-normal;
  }

  .footer-link {
    @apply inline-block mb-2 hover:text-my-primary;
  }

  .form-field {
    @apply h-10 w-full border border-gray-300 px-3 py-1 text-sm text-gray-700;
  }
}

.contact-form-input[readonly] {
  background-color: rgba(229, 231, 235, 1);
}

/* test colors */
/* code a b {
  color: hsl(46, 100%, 63%);
  color: hsl(47, 100%, 51%);
  color: hsl(45, 100%, 50%);
  background-color: hsl(2, 85%, 76%);
  background-color: hsl(1, 79%, 66%);
  background-color: hsl(1, 91%, 60%);
  border-color: hsl(233, 100%, 64%);
  border-color: hsl(227, 100%, 51%);
  border-color: hsl(228, 100%, 48%);
} */
