@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Saira+Condensed:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

  :root {
    --clr-primary: hsl(47, 100%, 51%);
    --clr-primary-light: hsl(46, 100%, 63%);
    --clr-primary-dark: hsl(45, 100%, 42%);
    --clr-secondary: hsl(1, 79%, 66%);
    --clr-secondary-light: hsl(2, 85%, 76%);
    --clr-secondary-dark: hsl(1, 91%, 60%);
    --clr-dark-gray: #23292e;
    --clr-yellow-cream: #f8f4d9;
    /* --clr-secondary: hsl(227, 100%, 51%);
    --clr-secondary-light: hsl(233, 100%, 64%);
    --clr-secondary-dark: hsl(228, 100%, 48%); */
    --font-body: 'Open Sans', 'ui-sans-serif', 'sans-serif', 'system-ui';
    --font-title: 'Saira Condensed', 'ui-sans-serif', 'sans-serif', 'system-ui';
  }

  *::selection {
    /* background-color: #fbe122; */
    background-color: var(--clr-primary-light);
    color: #121212;
  }

  body {
    @apply text-true-gray-500 font-my-body overflow-x-hidden;
    -webkit-tap-highlight-color: transparent;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-my-title tracking-my-tiny font-medium text-true-gray-800;
  }

  .btn-regular {
    @apply inline-block cursor-pointer text-center uppercase py-3 px-6 font-my-title font-medium tracking-wide leading-none text-black bg-my-primary duration-300 hover:bg-my-primary-light;
  }

  .footer-text {
    @apply text-gray-300 text-my-sm leading-normal;
  }

  .footer-link {
    @apply inline-block mb-2 hover:text-my-primary;
  }

  input[readonly] {
    @apply opacity-60 focus:outline-none;
  }
  
}

code {
  /* color: #ffc803; */
  /* color: #ffc905; */
  color: hsl(46, 100%, 63%);
  color: hsl(47, 100%, 51%);
  color: hsl(45, 100%, 50%);
  /* color: hsl(42, 100%, 50%); */
  background-color: hsl(2, 85%, 76%);
  background-color: hsl(1, 79%, 66%);
  background-color: hsl(1, 91%, 60%);
  /* background-color: hsl(15, 100%, 60%);
  background-color: hsl(17, 100%, 51%);
  background-color: hsl(17, 99%, 48%); */
  border-color: hsl(233, 100%, 64%);
  border-color: hsl(227, 100%, 51%);
  border-color: hsl(228, 100%, 48%);
}
